@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-600 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.pretendard-400 {
  font-family: "Pretendard";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pretendard-500 {
  font-family: "Pretendard";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pretendard-600 {
  font-family: "Pretendard";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
